# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = David Bernal
    email = leo.bernal1946@gmail.com
	signingkey = B81CB2DD4BAA7225
[init]
    defaultBranch = master
[core]
    excludesfile = ~/.gitignore_global
    editor = vim

[alias]
    reset-permissions = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=newer | git apply

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[commit]
	gpgsign = true
